{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">

-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <label style="font-size: xx-large">EventPublisher</label>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">

                        <li>
                            <a href="/index"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li>
                            <a href="/event"><i class=" fa fa-calendar"></i>
{#                                <i class="fas fa-chart-bar"></i>#}
                                Events</a>
                        </li>
                       <li>
                            <a href="/contact"><i class="fa fa-phone"></i>
{#                                <i class="far fa-check-square"></i>#}
                                Contact</a>
                        </li>
                        <li>
                            <a href="/about"><i class="fa fa-users"></i>
{#                                <i class="far fa-check-square"></i>#}
                                About Us</a>
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-users"></i>
{#                                <i class="far fa-check-square"></i>#}
                                Log out</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container" >
            <!-- HEADER DESKTOP-->
            <header class="header-desktop" >
                <div class="section__content section__content--p30" >
                    <div class="container-fluid" >
                        <div class="header-wrap" >
                            < <div class="col-md-12">

                                <div class="overview-wrap">
                                    <div class="overview-wrap">
                                    <h2 class="title-1"></h2>
{#                                </div>#}
{#                                    <button onclick="location.href='/log'" class="au-btn au-btn-icon au-btn--blue">#}
{#                                        <i class="zmdi zmdi-plus"></i>Register</button>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </header>
            <!-- MAIN CONTENT-->



            <div class="main-content">

                <div class="section__content section__content--p30">

{#            <div class="main-content">#}
{#            </div>#}
                <form method="GET">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="card-title mb-3">ABOUT US</h4>
                                    <p class="card-text">We the PG Department of computer Applications, Marian college Kuttikanam - MATRIX</p>
                                </div>
                                <div class="card-body card-block">
                                    <div class="table-responsive">
                                        <form method="POST" action={% url 'about' %}>
                                            <p>Marian College Kuttikkanam (Autonomous) was founded in 1995 and is affiliated to the Mahatma Gandhi University. It is owned by and managed by the Catholic Diocese of Kanjirappally through the Peermade Development Society. Marian has a unique and enviable history that it gained autonomy in a span of 20 years. Marian started with just three undergraduate programs and at present the college offers 20 programmes, including doctoral programs in Social Work and Commerce. Marian was the youngest accredited* college in India in 2003 and at present the college is re-accredited with A grade and CGPA 3.52/4 by the National Assessment and Accreditation Council (NAAC) in 2014. The college won the prestigious status of the College with Potential for Excellence (CPE) from University Grants Commission (UGC) in 2009 and 2014.
                                            </p>
                                            <br>
                                            <p>
PG Department of Computer Application at Marian College offers MCA programme that is completely unique, Industry focused and student centric. The objective of the programme is to mold out professionals who are completely equipped right away, to take up real-time Industry challenges.
</p>
                                            <br><p>
MCA @ Marian offers Experiential learning by virtue of theme-based workshops, presentations, and other participative and collaborative learning strategies. Our syllabus is updated every year to catch-up with the most current industry requirements, thanks to the Autonomous status of Marian College and the presence of Pan India - Senior Industry Experts as curriculum designers, which makes it possible.
                                        </p><br><p>
We offer multiple specializations and combination of those specializations in an omni-directional pattern, so that the students get an opportunity to select the specialization of their choice.                                            </p>
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                 <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2019 PG Department of computer Applications. All rights reserved.<a href="https://www.facebook.com/ignitemarian/?eid=ARD7OH16Kft2MzAtErhhVCa1Dz62zOSN1wwy8qUrby0zk2gGCEPH5lplm8YhjXfw8zWLPT3nyTvc3ZA3">MATRIX</a>.</p>
                                </div>
                            </div>
                        </div>




    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'js/main.js' %}"></script>

  </body>

</html>
<!-- end document-->
