{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">

-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <label style="font-size: xx-large">EventPicker</label>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">

                        <li>
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li>
                            <a href="/event"><i class=" fa fa-calendar"></i>
{#                                <i class="fas fa-chart-bar"></i>#}
                                Events</a>
                        </li>
                        <li>
                            <a href="form.html"><i class="fa fa-phone"></i>
{#                                <i class="far fa-check-square"></i>#}
                                Contact</a>
                        </li>
                        <li>
                            <a href="typo.html"><i class="fa fa-users"></i>
{#                                <i class="far fa-check-square"></i>#}
                                About Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container" >
            <!-- HEADER DESKTOP-->
            <header class="header-desktop" >
                <div class="section__content section__content--p30" >
                    <div class="container-fluid" >
                        <div class="header-wrap" >
                            < <div class="col-md-12">

                                <div class="overview-wrap">
                                    <div class="overview-wrap">
                                    <h2 class="title-1"></h2>
                                </div>
                                    <button onclick="location.href='/log'" class="au-btn au-btn-icon au-btn--blue">
                                        <i class="zmdi zmdi-plus"></i>Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- MAIN CONTENT-->
            <div class="main-content">
             <form method="GET">
{#                {% for item in data %}#}

                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">

                            </div>
                           <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                    <div class="rs-select2--light rs-select2--md">
                                        <select class="js-select2" name="property">
                                            <option selected="selected">Departments</option>
                                            {% for item in data1 %}
                                            <option value="">{{ item.cdept }}</option>
                                                {% endfor %}
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <div class="rs-select2--light rs-select2--sm">
                                        <select class="js-select2" name="time">
                                            <option selected="selected">Months</option>
                                            {% for item in data2 %}
                                            <option value="">{{ item.mname }}</option>
                                                {% endfor %}
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <div class="rs-select2--light rs-select2--sm">
                                        <select class="js-select2" name="time">
                                            <option selected="selected">Week</option>
                                            {% for item in data3 %}
                                            <option value="">{{ item.wname }}</option>
                                                {% endfor %}
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>

                                </div>
                                <div class="table-data__tool-right">
                                    <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                       Search</button>
                                    <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                        <button type="button" class="btn btn-outline-danger" onclick="">Clear all filters</button>

                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>
                            </div>

                        {% for item in data %}
                            <div class="au-card m-b-30">

                                    <div class="au-card-inner">
                                        <h3 class="title-2 m-b-40">{{item.eventid}}</h3>
                                         <div class="card">
                                            <img class="card-img-top" src="{% static 'images/bg-title-01.jpg' %}" alt="Card image cap">
                                             <div class="card-body">
                                                 <p class="card-text">{{item.descreption}}</p>
                                             </div>

                                             <div class="card-body card-block">
                                                <div class="table-responsive">
                                                <form method="GET">

                                                     <table class="table table-top-campaign">

                                                            <tr>
                                                                 <td>1. Event name</td>
                                                                 <td>{{item.eventid}}</td>
                                                            </tr>

                                                         <tr>
                                                    <td>2. Venue</td>
                                                    <td>{{item.eventname}}</td>
                                                </tr>
                                                <tr>
                                                    <td>3. Date</td>
                                                    <td>----</td>
                                                </tr>
                                                <tr>
                                                    <td>4.Event type</td>
                                                    <td>{{item.eventcategory}}</td>
                                                </tr>
                                                <tr>
                                                    <td>5.No of participants</td>
                                                    <td>{{item.parti}}</td>
                                                </tr>
                                                <tr>
                                                    <td>6. Registration fee</td>
                                                    <td>{{item.regfee}}</td>
                                                </tr>
                                                <tr>
                                                    <td>7. Prize money</td>
                                                    <td>{{item.tpm}}</td>
                                                </tr>
                                                <tr>
                                                    <td>8. Organaized by</td>
                                                    <td>{{item.ddepartment}}</td>
                                                </tr>
                                                     </table>

                                                 </form>
                                                </div>
                                             </div>


                                         </div>
                                    </div>
                                <a href="/log">

                                <button onclick="location.href='/log'" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        Register this event</button>
                                </a>

                                </div>
                        {% endfor %}
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2019 PG Department of computer Applications. All rights reserved.<a href="https://www.facebook.com/ignitemarian/?eid=ARD7OH16Kft2MzAtErhhVCa1Dz62zOSN1wwy8qUrby0zk2gGCEPH5lplm8YhjXfw8zWLPT3nyTvc3ZA3">MATRIX</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </form>

            </div>
            <!-- END MAIN CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
<!-- end document-->
