+{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<style>
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    {#background: url("/EventApp/static/images/sarath.jpg");#}
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/EventApp/static/images/sarath.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
</style>
    <!-- Required meta tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">

 -- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <label style="font-size: xx-large">EventPicker</label>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">







                        <li>
                            <a href="/home"><i class="fa fa-home"></i> Home</a>
                        </li>
{#                        <li>#}
{#                            <a href="/event"><i class=" fa fa-calendar"></i>#}
{#                                <i class="fas fa-chart-bar"></i>#}
{#                                Events</a>#}
{#                        </li>#}
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-calendar"></i>Event</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/addevent">Add event</a>
                                </li>
                                <li>
                                    <a href="/eevent">View event</a>
                                </li>
                                <li>
                                    <a href="/editevent">Edit event</a>
                                </li>



                            </ul>
                        </li>


                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container" >
            <!-- HEADER DESKTOP-->
            <header class="header-desktop" >
                <div class="section__content section__content--p30" >
                    <div class="container-fluid" >
                        <div class="header-wrap" >
                            < <div class="col-md-12">

                                <div class="overview-wrap">
                                    <div class="overview-wrap">
                                    <h2 class="title-1"></h2>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="table-responsive m-b-40">
                     <br>
                        <br>
                        <div class="overview-wrap">
                            <h2 class="title-1">Candidates lists</h2>
                        </div>
                        <br>
                                    <table class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                        <th>Student_ID</th>
                                                        <th>Name</th>
                                                        <th>Gender</th>
                                                        <th>College</th>
                                                        <th>Department</th>
                                                        <th>Cource</th>
                                                        <th>Mobile no</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in userdata %}
                                                    <tr >
                                                        <td>{{item.id}}</td>
                                                        <td>{{item.name}}</td>
                                                        <td>{{item.gender}}</td>
                                                        <td >{{item.collegeid}}</td>
                                                        <td >{{item.departmentid}}</td>
                                                        <td>{{ item.courseid }}</td>
                                                        <td>{{ item.contactno}}</td>
{#                                                        <td><button type="submit" onclick="location.href='/event'" class="btn btn-secondary btn-sm">View more</button></td>#}

                                                    </tr>
                                                {% endfor %}
                                                </tbody>

                                            </table>

                                        </div>
                    <br>
                </div>
            </div>
    </div>
    <div class="col-md-12">
                 <div class="copyright">
                     <p>Copyright © 2019 PG Department of computer Applications. All rights reserved. <a href="https://www.facebook.com/ignitemarian/">MATRIX</a>.</p>
                  </div>
                 </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
<!-- end document-->
