{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Forms</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
{#        <!-- HEADER MOBILE-->#}
        <header class="header-desktop" >
                <div class="section__content section__content--p30" >
                    <div class="container-fluid" >
                        <div class="header-wrap" >
                            < <div class="col-md-12">
                            <div align="right">
                                <label>Email</label>
                            </div>

                                <div class="overview-wrap">
                                    <div class="overview-wrap">
                                    <h2 class="title-1"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <!-- END HEADER MOBILE-->

     -- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <label style="font-size: xx-large">EventPublisher</label>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <div align="center">
                                <img src="{{ imgdata.url }}" width="100" height="150" border="10" >
                    </div>
                    <div align="center">
                        <label>Sarath Chandran</label>
                    </div>
                    <ul class="list-unstyled navbar__list">

                        <li>
                            <a href="/home"><i class="fa fa-home"></i> Home</a>
                        </li>
{#                        <li>#}
{#                            <a href="/event"><i class=" fa fa-calendar"></i>#}
{#                                <i class="fas fa-chart-bar"></i>#}
{#                                Events</a>#}
{#                        </li>#}
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-calendar"></i>Event</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/addevent">Add event</a>
                                </li>
                                <li>
                                    <a href="/eevent">View event</a>
                                </li>
{#                                <li>#}
{#                                    <a href="/editevent">Edit event</a>#}
{#                                </li>#}


                            </ul>
                        </li>
{#                        <li>#}
{#                            <a href="form.html"><i class="fa fa-phone"></i>#}
{#                                <i class="far fa-check-square"></i>#}
{#                                Contact</a>#}
{#                        </li>#}

                        <li>
                            <a href="/"><i class="fa fa-users"></i>
{#                                <i class="far fa-check-square"></i>#}
                                Logout</a>
                        </li>
                         <li>
                            <a href="/candidate_view">View candidates</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">

            <!-- MAIN CONTENT-->
            <div class="main-content">

                <div class="section__content section__content--p30">

                        <div class="au-card m-b-30">
                            <h3 class="title-2 m-b-40">Edit event</h3>

                                <div class="card">
                                    <div class="card-header">
                                        You can making changes from here
                                    </div>
                                    <div class="card-body card-block">

                                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                            <div class="row form-group">
                                          <br>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Even name</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select id="ecategory" name="ecategory" class="form-control">
                                                        <option selected="selected" value="aaa">Pick your event name</option>
                                                        {% for item in data %}
                                                        <option onselect="{{ item.eventname }}">{{item.eventname}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="email-input" class=" form-control-label">Venue</label>
                                                </div>
                                                <div class="col-12 col-md-9">

                                                   <input value="{{ optobj }}" id="evenue" name="evenue" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" type="text">

                                                </div>
                                            </div>


                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="email-input" class=" form-control-label">Date</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input id="edate" name="edate" type="date" class="form-control cc-exp" value="" data-val="true" data-val-required="Please enter the card expiration"
                                                            data-val-cc-exp="Please enter a valid month and year" placeholder="DD / MM / YY"
                                                            autocomplete="cc-exp">

                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Registartion fee</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input id="eregfee" name="eregfee" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" type="text">
                                                </div>
                                            </div>


                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Even category</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select id="ecategory" name="ecategory" class="form-control">
                                                        <option selected="selected">Choose event type</option>
                                                        <option value="s">Solo</option>
                                                        <option value="g">Group</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">No of participants</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input id="eparti" name="eparti" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" type="text">
                                                </div>
                                            </div>



                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Total Prize money</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input id="etpm" name="etpm" class="form-control cc-name valid" aria-invalid="false" aria-describedby="cc-name-error" type="text">
                                                </div>
                                            </div>


                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Department</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select id="edepartment" name="edepartment" class="form-control">
                                                        <option value="a">PG Department of Computer Applications</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="textarea-input" class=" form-control-label">Descreption</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <textarea name="edescreption" id="textarea-input" rows="9" placeholder="Content..." class="form-control"></textarea>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="file-input" class=" form-control-label">Brochure</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="file-input" name="ebrochure" class="form-control-file">
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                    <div class="card-footer">
                                        <form action="" method="post">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> Submit
                                             </button>
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                 <i class="fa fa-ban"></i> Reset
                                             </button>
                                        </form>
                                    </div>
                                </div>



                    </div>
                </div>
            </div>
                <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2019 PG Department of computer Applications. All rights reserved.<a href="https://www.facebook.com/ignitemarian/?eid=ARD7OH16Kft2MzAtErhhVCa1Dz62zOSN1wwy8qUrby0zk2gGCEPH5lplm8YhjXfw8zWLPT3nyTvc3ZA3">MATRIX</a>.</p>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
</div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
<!-- end document-->
